div.team div.row{
    margin-bottom: 15px;
    margin-top:  15px;
}

div.team .hacky-image{
    text-align: center;
    line-height: 305px;
    margin-top: 25px
}

a.brand-headline{
    color: #999;
}

a.brand-headline:hover{
    text-decoration: none;
    text-shadow: 1px 1px white, -1px -1px #e6e6e6
}